{% extends "base.html.twig" %}

{% block title %}My Services{% endblock %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-10 column">
        <h1>My Services</h1>

        <div class="jumbotron">
            <h2>Posts</h2>
            <div class="row push-bottom">
                <div class="col-sm-2">
                    <p><a class="btn btn-success btn-success" href="index.php?uri=add-service">Add Post</a></p>
                </div>
            </div>

            {# Display posts #}
            <div class="row push-bottom">
                <table class="table">
                <thead>
                    <tr><th>ID</th><th>Name</th><th>Type</th><th>Action</th></tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{{ post.business }}</td>
                        <td>{{ post.type }}</td>
                        <td>
                            <a href="index.php?uri=service-details&id={{ post.id }}" title="View post" class="btn btn-sm btn-info">View</a>
                            <a href="index.php?uri=update-service&id={{ post.id }}" title="Update post" class="btn btn-sm btn-warning">Update</a>
                            <a href="index.php?uri=delete-service&id={{ post.id }}" title="Delete post" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>

        <div class="jumbotron">
            <h2>Your pictures</h2>
            <div class="row push-bottom">
                <div class="col-sm-2">
                    <p><a class="btn btn-success btn-success" href="index.php?uri=add-picture">Add Picture</a></p>
                </div>
            </div>

            {# Display pictures #}
            <div class="row push-bottom">
            {% if not images is empty %}
                {% for image in images %}
                <div class="col-sm-4 push-bottom push-top">
                    <div class="pull-right">[ <a class="red" href="index.php?uri=deletepicture&#38;id={{ image.id }}" title="Delete image" id="imgdelete">X</a> ]</div>
                    <img src="uploads/{{ image.name }}" alt="{{ image.alt }}" />
                </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    // Confirm image delete
    $(".red").click(function() {
        var conf = confirm("Are you sure you want to delete this image?");
        return conf;
    });
</script>
{% endblock %}
