{% extends "base.html.twig" %}

{% block title %}My Services{% endblock %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-10 column">
        <h1>My Services</h1>

        <div class="jumbotron">
            <h2>Posts</h2>
            <div class="row push-bottom">
                <div class="col-sm-2">
                    <p><a class="btn btn-success btn-success" href="index.php?uri=add-service">Add Post</a></p>
                </div>
            </div>

            {# Display posts #}
            {% if not posts is empty %}
            <div class="row push-bottom">
                <table class="table">
                <thead>
                    <tr>
                        <th id="id">ID</th>
                        <th id="name">Name</th>
                        <th id="postcode">Postcode</th>
                        <th id="type">Type</th>
                        <th id="action">Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td headers="id">{{ post.id }}</td>
                        <td headers="name">{{ post.business }}</td>
                        <td headers="postcode">{{ post.postcode }}</td>
                        <td headers="type">{{ post.type }}</td>
                        <td headers="action">
                            <a href="index.php?uri=post-details&#38;id={{ post.id }}" title="View post" class="btn btn-sm btn-info">View</a>
                            <a href="index.php?uri=update-service&#38;id={{ post.id }}" title="Update post" class="btn btn-sm btn-warning">Update</a>
                            <a href="index.php?uri=delete-service&#38;id={{ post.id }}" title="Delete post" class="service btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            {% endif %}
        </div>

        <div class="jumbotron">
            <h2>Your pictures</h2>
            <div class="row push-bottom">
                <div class="col-sm-2">
                    <p><a class="btn btn-success btn-success" href="index.php?uri=add-picture">Add Picture</a></p>
                </div>
            </div>

            {# Display pictures #}
            <div class="row push-bottom">
            {% if not images is empty %}
                {% for image in images %}
                <div class="col-sm-4 push-bottom push-top">
                    <div class="pull-right">[ <a class="red" href="index.php?uri=delete-picture&#38;id={{ image.id }}" title="Delete image" id="imgdelete">X</a> ]</div>
                    <img src="uploads/{{ image.name }}_large" alt="{{ image.alt }}" />
                </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    // Confirm service deletion
    $(".service").confirm({
        text: "Are you sure you want to delete this service?",
        title: "Confirmation required"
    });

    // Confirm image deletion
    $(".red").confirm({
        text: "Are you sure you want to delete this image?",
        title: "Confirmation required"
    });
</script>
{% endblock %}
