{% extends "base.html.twig" %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-10 column">
        <form class="form-inline" method="post" action="index.php?uri=search">
            <h1>Search</h1>

            <div class="jumbotron">
                {# JS errors #}
                <div class="alert alert-danger hidden" id="errors"></div>

                {# PHP errors #}
                {% autoescape false %}
                {% if not errorsAll is empty %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for errors in errorsAll %}
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% endautoescape %}

                <p class="push-top">Please select method of search</p>

                {# Search by sitter type #}
                <div class="row push-top">
                    <div class="form-group">
                        <label for="type" class="col-sm-5 control-label push-bottom">By Sitter Type</label>
                        <div class="col-sm-5 push-bottom">
                            <select class="form-control" name="type" id="type">
                                <option value="Sitter" {% if input.type == 'Sitter' %}selected="selected"{% endif %}>Sitter</option>
                                <option value="Babysitter" {% if input.type == 'Babysitter' %}selected="selected"{% endif %}>Babysitter</option>
                                <option value="Petsitter" {% if input.type == 'Petsitter' %}selected="selected"{% endif %}>Petsitter</option>
                                <option value="Housesitter" {% if input.type == 'Housesitter' %}selected="selected"{% endif %}>Housesitter</option>
                                <option value="Plantsitter" {% if input.type == 'Plantsitter' %}selected="selected"{% endif %}>Plantsitter</option>
                            </select>
                        </div>
                        <div class="col-sm-2 push-bottom">
                            <button type="submit" class="btn btn-primary" name="by-type">Search</button>
                        </div>
                    </div>
                </div>

                {# Search by postcode #}
                <div class="row">
                    <div class="form-group">
                        <label for="postcode" class="col-sm-5 control-label push-bottom">By Postcode</label>
                        <div class="col-sm-5 push-bottom">
                            <input type="text" size="11" class="form-control" id="postcode" name="postcode" value="{{ input.postcode }}" />
                        </div>
                        <div class="col-sm-2 push-bottom">
                            <button type="submit" class="btn btn-primary" name="by-postcode" id="submit">Search</button>
                        </div>
                    </div>
                </div>
            </div>

            {# Display search results #}
            {% if not input.searchType is empty and errorsAll is empty %}
            <div class="jumbotron">
                <h2>Search Results</h2>
                <strong>Criteria:</strong>
                    {% if input.searchType == 'type' %}Type = {{ input.type }}{% endif %}
                    {% if input.searchType == 'postcode' %}Postcode = {{ input.postcode }}{% endif %}

                {# Filter With Image Only #}
                <div class="row push-bottom push-top">
                    <div class="form-group">
                        <label for="postcode" class="col-xs-3 col-sm-6 control-label push-bottom">Only With Image</label>
                        <div class="col-xs-2 col-lg-1 push-bottom">
                            <input type="checkbox" class="form-control" id="imageonly" name="imageonly"{% if input.imageonly == 'on' %} checked="checked"{% endif %} />
                        </div>
                        <div class="col-xs-2 col-lg-1 push-bottom">
                            <input type="hidden" name="search-type" value="{{ input.searchType }}" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning btn-sm">Filter</button>
                </div>

                {% if not posts is empty %}
                <hr />

                {# Display pagination #}
                {% if not pages is empty %}
                    <strong>Pages:</strong>
                {% endif %}
                {% for key, page in pages %}
                    {% if currentPage == key %}
                        {{ key }}
                    {% else %}
                        <a href="index.php?uri=search&#38;page={{ key }}">{{ key }}</a>
                    {% endif %}
                    {% if not loop.last %},{% endif %}
                {% endfor %}

                <div class="row push-bottom">
                    <table class="table">
                        <thead>
                        <tr>
                            <th id="image">Image</th>
                            <th id="name">Name</th>
                            <th id="location">Postcode</th>
                            <th id="sittertype">Type</th>
                            <th id="details">Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in posts %}
                            <tr class="tall">
                                <td headers="image">{% if post.alt is not empty %}<img src="uploads/{{ post.name }}_small" alt="{{ post.alt }}" />{% endif %}</td>
                                <td headers="name" class="center">{{ post.business }}</td>
                                <td headers="location" class="center">{{ post.postcode }}</td>
                                <td headers="sittertype" class="center">{{ post.type }}</td>
                                <td headers="details" class="center">
                                    <a href="index.php?uri=service-details&#38;id={{ post.id }}" title="View service details" class="btn btn-sm btn-info">Details</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="clearfix push-bottom">
                    <p class="red"><strong>No results found, please refine your search.</strong></p>
                </div>
                {% endif %}

                {# Display pagination #}
                {% if not pages is empty %}
                    <strong>Pages:</strong>
                {% endif %}
                {% for key, page in pages %}
                    {% if currentPage == key %}
                        {{ key }}
                    {% else %}
                        <a href="index.php?uri=search&#38;page={{ key }}">{{ key }}</a>
                    {% endif %}
                    {% if not loop.last %},{% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        // Validate form
        var checkRun = false;
        $("#submit").on("click", function(event) {
            validate(event, 'validate-postcode');
        });
    </script>
{% endblock %}