{% extends "base.html.twig" %}

{% block title %}Service Details{% endblock %}

{% block content %}
    <div class="row clearfix">
        <div class="col-md-10 column">
            <h1>Service Details</h1>

            <div class="jumbotron">
                <div class="row push-bottom">
                    <div class="col-sm-2">
                        <p><a class="btn btn-success btn-warning" href="index.php?uri=update-service&#38;id={{ service.id }}">Update Post</a></p>
                    </div>
                    <div class="col-sm-1">
                        <p><a class="btn btn-success btn-danger" href="index.php?uri=delete-service&#38;id={{ service.id }}" id="delete">Delete Post</a></p>
                    </div>
                </div>

                <div class="row push-bottom">
                    <div class="col-sm-2">
                        <strong>Business:</strong>
                    </div>
                    <div class="col-sm-7">
                        {{ service.business }}
                    </div>
                </div>

                <div class="row push-bottom">
                    <div class="col-sm-2">
                        <strong>Postcode:</strong>
                    </div>
                    <div class="col-sm-7">
                        {{ service.postcode }}
                    </div>
                </div>

                <div class="row push-bottom">
                    <div class="col-sm-2">
                        <strong>Type:</strong>
                    </div>
                    <div class="col-sm-7">
                        {{ service.type }}
                    </div>
                </div>

                <div class="row push-bottom">
                    <div class="col-sm-2">
                        <strong>Details:</strong>
                    </div>
                    <div class="col-sm-7">
                        {% autoescape false %}
                        {{ service.details }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        // Confirm service deletion
        $("#delete").confirm({
            text: "Are you sure you want to delete this service?",
            title: "Confirmation required"
        });
    </script>
{% endblock %}
