{% extends "base.html.twig" %}

{% block title %}Service Details{% endblock %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-10 column">
        <h1>Service Details</h1>

        {# Info #}
        <div class="jumbotron">
            <h2>Information</h2>

            <div class="row push-bottom">
                <div class="col-sm-2">
                    <strong>Service Name:</strong>
                </div>
                <div class="col-sm-7">
                    {{ service.business }}
                </div>
            </div>

            <div class="row push-bottom">
                <div class="col-sm-2">
                    <strong>Postcode:</strong>
                </div>
                <div class="col-sm-7">
                    {{ service.postcode }}
                </div>
            </div>

            <div class="row push-bottom">
                <div class="col-sm-2">
                    <strong>Type:</strong>
                </div>
                <div class="col-sm-7">
                    {{ service.type }}
                </div>
            </div>

            <div class="row push-bottom">
                <div class="col-sm-2">
                    <strong>Details:</strong>
                </div>
                <div class="col-sm-7">
                    {% autoescape false %}
                    {{ service.details }}
                    {% endautoescape %}
                </div>
            </div>
        </div>

        {# Sitter's pictures #}
        {% if not images is empty %}
        <div class="jumbotron">
            <h2>Pictures</h2>

            <div class="row push-bottom">
            {% for image in images %}
                <div class="col-sm-4 push-bottom push-top">
                    <img src="uploads/{{ image.name }}_large" alt="{{ image.alt }}" />
                </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}

        <p><a href="index.php?uri=search" title="Back to search" class="btn btn-primary">Go Back To Search</a></p>
    </div>
</div>
{% endblock %}
