{% extends "base.html.twig" %}

{% block title %}Create New Account{% endblock %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-10 column">
        <h1>Create Sitter's Account</h1>
    </div>
    <div class="col-md-10 column">
        <div class="jumbotron">
            {# JS errors #}
            <div class="alert alert-danger hidden" id="errors"></div>

            {# PHP errors #}
            {% autoescape false %}
            {% if not errorsAll is empty %}
            <div class="alert alert-danger">
                <ul>
                {% for errors in errorsAll %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endautoescape %}

            {# Registration form #}
            <form class="form-horizontal" method="post" action="index.php?uri=registration">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="username" name="username" value="{{ input.username }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" name="password" value="{{ input.password }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="email" name="email" value="{{ input.email }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="captcha" class="col-sm-2 control-label">CAPTCHA</label>
                    <div class="col-sm-3">
                        <img src="{{ captcha }}" alt="captcha" width="150" height="40" />
                    </div>
                    <div class="col-sm-6 push-top">
                        <input type="text" class="form-control" id="captcha" name="captcha" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <p><button type="submit" class="btn btn-default" id="submit">Create Account</button></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        // Validate form
        var checkRun = false;
        $("#submit").on("click", function(event) {
            validate(event, 'validate-registration');
        });

        // Confirm image deletion
        $(".red").confirm({
            text: "Are you sure you want to delete this image?",
            title: "Confirmation required"
        });
    </script>
{% endblock %}
